@page "/createNote"
<h3>Create note2223</h3>

<form class="form-floating">
    <textarea class="note-content form-control" placeholder="This note is about..." id="floatingTextarea"/>
    <label for="floatingTextarea">Comments</label>
</form>

@code {
    
}