@page "/"
@using BlazorNotesApp.Models
@using BlazorNotesApp.Services
@inject INoteService NoteService
@rendermode InteractiveServer
@inject NavigationManager _nav

<h3>Show Notes</h3>

    @if (_notes == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Creation date</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            @foreach (Note note in _notes)
            {
                <tbody>
                <tr>
                    <td>@note.Id</td>
                    <td>@note.Title</td>
                    <td>@note.CreatedAt</td>
                    <td>
                        <button @onclick="() => ViewNote(note.Id)"type="button" class="btn btn-primary m-1">View</button>
                        <button @onclick="() => EditNote(note.Id)" type="button" class="btn btn-success m-1">Edit</button>
                        <button @onclick="() => DeleteNote(note.Id)" type="button" class="btn btn-danger m-1">Delete</button>
                    </td>
                </tr>
                </tbody>
            }
        </table>
    }
    
@code {
    private List<Note>? _notes = new();

    protected override async Task OnInitializedAsync()
    {
        _notes = await NoteService.GetAllNotes();
    }

    private async Task DeleteNote(int id)
    {
        await NoteService.DeleteNote(id);

        var noteToRemove = _notes?.FirstOrDefault(n => n.Id == id);
        if (noteToRemove != null)
        {
            _notes!.Remove(noteToRemove);
        }
    }
    
    private void ViewNote(int id)
    {
        _nav.NavigateTo($"/showNote/{id}");
    }
    
    private void EditNote(int id)
    {
        _nav.NavigateTo($"/updateNote/{id}");
    }

}

