@page "/showNote/{Id:int}"
@using BlazorNotesApp.Models
@using BlazorNotesApp.Services
@using BlazorNotesApp.Components.Shared
@inject INoteService NoteService

<Heading Title="Display note"></Heading>

<h4>Title: @_currentNote.Title</h4>
<p>Created at: @_currentNote.CreatedAt</p>
<p>Content:</p>
<p>@_currentNote.Content</p>
@code {
    private Note? _currentNote;
    
    [Parameter]
    public int Id { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _currentNote = await NoteService.GetNoteById(Id);
    }
}