@page "/updateNote/{Id:int}"
@inject INoteService NoteService
@rendermode InteractiveServer
@using BlazorNotesApp.Models
@using BlazorNotesApp.Services
@using BlazorNotesApp.Components.Shared

<Heading Title="Edit note"></Heading>

@if (_currentNote == null)
{
    <p>Loading...</p>
}
else
{
    <NoteForm OnSubmit="EditNote" PredefinedNote="_currentNote"></NoteForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Note? _currentNote;
    
    protected override async Task OnInitializedAsync()
    {
        _currentNote = await NoteService.GetNoteById(Id);
    }

    private async Task EditNote()
    {
        await NoteService.UpdateNote(_currentNote);
    }

}