@page "/"
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div id="container" class="@_currentTheme">
    <header>
        
        <a href="#main" class="skip-link">Przejdź do treści głównej</a>
        
        <p>Header Content</p>

        <button @onclick="ToggleTheme">Toggle theme</button>
    </header>

    <aside id="left-panel">
        Left Panel Content
        <button class="btn-outline" type="button">
            Outline Button
        </button>
    </aside>

    <main id="main">
        <div class="carousel">
            <img src="https://picsum.photos/800/400?1" alt="First slide">
            <img src="https://picsum.photos/800/400?2" alt="Second slide">
            <img src="https://picsum.photos/800/400?3" alt="Third slide">
        </div>
    </main>
</div>

@code
{
    private string _currentTheme;

    private async void ToggleTheme()
    {
        if (_currentTheme == "light-theme")
        {
            _currentTheme = "dark-theme";
        }
        else
        {
            _currentTheme = "light-theme";
        }

        await StoreData("theme", _currentTheme);
    }
    
    private async Task StoreData(string key, string value)
    {
        if(!string.IsNullOrWhiteSpace(key) && !string.IsNullOrWhiteSpace(value))
        {
            await localStorage.SetItemAsync(key, value);
        }
    }
    
    private async Task<string> RetrieveData(string key)
    {
        string? storedData = await localStorage.GetItemAsync<string>(key);
        if (string.IsNullOrEmpty(storedData))
            throw new Exception("Key either is of null value, empty or does not exist.");
        return storedData;
    }
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string storedTheme = await RetrieveData("theme");
            _currentTheme = storedTheme;
        }
        catch
        {
            _currentTheme = "light-theme";
        }
    }

}
