<div class="alert @AlertClass my-3" role="alert"> 
    @Content
</div>

@code {
    private string AlertClass { get; set; }
    
    [Parameter]
    public bool Success { get; set; }
    
    [Parameter]
    public string Content { get; set; }
    
    private void ToggleAlertSuccess(bool success)
    {
        if (success)
        {
            AlertClass = "alert-success";
        }
        else
        {
            AlertClass = "alert-danger";
        }
    }

    protected override void OnParametersSet()
    {
        ToggleAlertSuccess(Success);
    }

}