@inherits LayoutComponentBase

<div id="container">
    <header>
        Header Content
    </header>

    <aside id="left-panel">
        Left Panel Content
    </aside>

    <main>
        @Body
    </main>
</div>
